body {
    
}

.page-header {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(143, 143, 103);
    max-width: 600px;
    margin: auto;
    background-color: rgb(245, 245, 192);
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}

.page-navigation {

   
}

.page-main {

}

.page-footer {

}